.Landing {
  height: 100vh;
  background-size: cover;
  position: absolute;
  width: 50%;
  left: 0px;
}

@media (max-width: 650px) {
  .Landing {
    height: 100vh;
    background-size: cover;
    position: absolute;
    width: 100%;
  }
}
