.Landing {
  height: 100vh;
  background-size: cover;
  position: absolute;
  width: 50%;
  left: 0px;
}

@media (max-width: 650px) {
  .Landing {
    height: 100vh;
    background-size: cover;
    position: absolute;
    width: 100%;
  }
}

.appbar {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
}

.colorNav {
  background: linear-gradient(to top left, #0066ff 0%, #33ccff 100%);
  box-shadow: none;
}