@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}


/*--- Navigation ---*/
.navbar {
  font-weight: 700;
}

.navbar-nav li {
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .1rem;
  padding-right: .7rem;
}

.navbar i {
  padding-left: .8rem;
}


/* Landing page */
#image {
  background-image:url("./images/recipe-app-landing2.jpg");  
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: 'relative',
}

/* Log In & Sign Up form  */
.login-form {
  width: 40%;
  margin: 4rem auto;
}
