@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #555555;
  background-color:#e8e9eb !important;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.error {
  color: red;
  margin-bottom: 0;
}
img {
  object-fit: cover;
}

/* Navigation */
.navbar {
  min-height: 4rem;
}
.nav-avatar {
  vertical-align: middle;
  width: 50px;
  max-height: 50px;
  object-fit: cover;
}

/* Landing page */
.landing-text {
  font-size: 5rem;
}

/* Log In & Sign Up form  */
.login-card {
  width: 50%;
  margin: auto;
  margin-top: 4rem;
}

/* List item page */
.list-container {
  margin-top: 2rem;
}
.recipe-card {
  max-height: 30rem;
  margin: 1rem 0;
}
.recipe-card:hover {
  background-color: #f0f3f5;
}
.list-image {
  max-height: 18rem;
  min-height: 18rem;
  width: 35rem;
  object-fit: cover;
}
.ingredients,
.card-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.my-recipe-title {
  margin-top: 8rem;
}

/* Search input */
.search-container {
  display: flex;
}
.search {
  padding-top: 8rem;
  margin: auto;
}

/* Recipe Detail */
#detail {
  margin-top: 6rem;
  margin-bottom: 2rem;
}
#detail img {
  object-fit: cover;
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 450px;
  margin-bottom: 1rem;
}
.detail-image {
  text-align: center;
  margin-bottom: 2rem;
}
.detail-default-icon {
  margin-top: 9rem;
  color: grey;
}
.username-link {
  color: #1063e0 !important;
}
.username-link:hover {
  color: #6399eb !important;
}
p {
  color: grey;
}
h5 {
  font-weight: bold;
  padding-bottom: 1rem;
}
.detail-content {
  padding-bottom: 3rem;
  white-space: pre-line;
}
#detail .delete {
  margin-left: 2rem;
}
#detail .icon {
  margin-right: 2rem;
  font-size: 1.3rem;
  color: grey;
}
#detail .icon:hover {
  color: #ff99cc;
}
#detail .reviewIcon:hover {
  color: #4da6ff;
}
#detail .likes-num {
  margin-right: 0.5rem;
}
#detail .review {
  margin-top: 2rem;
}
#detail .review-button {
  margin-top: 1rem;
}
#detail .card {
  margin-bottom: 1rem;
}
#detail .card-review {
  margin: 0.5rem;
}
#detail .reviewer-name {
  border-bottom: 1px solid #cccccc;
}

/* Recipe form */
#form {
  padding-top: 6rem;
  width: 50%;
}
h2.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
  color: #555555;
}
textarea {
  white-space: pre-wrap;
}

/* Recipe Image  */
#image {
  margin-top: 6rem;
}
#image .card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  margin: auto;
}
#image img {
  width: 400px;
  height: 400px;
  margin: auto;
  object-fit: cover;
}
.no-image {
  width: 400px;
  height: 400px;
  background-color: #dadee6;
  margin: auto;
}
#image .no-image i {
  font-size: 7rem;
  color: #c2c6cf;
  margin-top: 8rem;
}
#image label {
  margin-top: 1rem;
}
#image button {
  margin-top: 1rem;
}
#image .image-error {
  color: red;
  text-align: center;
}

/* Profile Form */
#profile-form {
  margin-top: 6rem;
}
#profile-form .col-md-12 {
  text-align: center;
  padding-bottom: 1.5rem;
}
.image-div {
  margin: auto;
  padding-bottom: 2rem;
}
.image {
  min-width: 200px;
  max-height: 200px;
}
.avatar-div {
  background-color: #b8bbbf;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 2rem;
}
.default-avatar {
  color: grey;
  margin-top: 3rem;
}
.select {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Profile Detail */
#profile-detail .col-md-12 {
  text-align: center;
  margin-top: 8rem;
  align-items: center;
}
.profile-card {
  width: 50%;
  margin: auto;
}
#profile-detail .card-title {
  margin-top: 1rem;
}
#profile-detail .user-recipe {
  margin-top: 2rem;
  align-items: center;
}

/* Loading  */
.loading {
  margin-top: 6rem;
  text-align: center;
}

/* page-not-found */
.page-not-found {
  padding-top: 8rem;
  text-align: center;
}

@media (max-width: 768px) {
  .login-card {
    width: 90%;
  }
  #form {
    width: 90%;
  }
  .profile-card {
    width: 70%;
  }
  #image .card {
    width: 100%;
  }
  /* Recipe page */
  .list-image {
    max-height: 10rem;
    min-height: 10rem;
  }
}

@media (max-width: 576px) {
  .landing-text h1 {
    font-size: 3rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }
  .landing-text h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .login-form {
    width: 80%;
    margin: 4rem auto;
  }
  #update {
    width: 90%;
  }
  /* Recipe list page */
  .list-image {
    max-height: 15rem;
    min-height: 15rem;
  }
  .search-container {
    display: inline-block;
  }
  .search-input {
    padding-top: 2rem;
    margin: auto;
  }
  .my-recipe-title {
    margin-top: 5rem;
  }
  
  /* Upload Image page */
  #image img {
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .no-image {
    width: 300px;
    height: 300px;
    background-color: #dadee6;
    margin: auto;
  }
  #image .no-image i {
    font-size: 5rem;
    color: #c2c6cf;
    margin-top: 6rem;
  }
  /* profile detail page */
  .profile-card {
    width: 100%;
  }
  /* recipe detail  */
  .detail-default-icon {
    margin-top: 7rem;
  }
}

@media (max-width: 360px) {
  /* Upload Image page */
  #image img {
    width: 250px;
    height: 250px;
    margin: auto;
  }
  .no-image {
    width: 250px;
    height: 250px;
    background-color: #dadee6;
    margin: auto;
  }
  #image .no-image i {
    font-size: 5rem;
    color: #c2c6cf;
    margin-top: 5rem;
  }
  /* recipe detail  */
  .detail-default-icon {
    margin-top: 5rem;
  }
}
