@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}


/*--- Navigation ---*/
.navbar {
  font-weight: 700;
}

.navbar-nav li {
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .1rem;
  padding-right: .7rem;
}

.navbar i {
  padding-left: .8rem;
}


/* Landing page */
#image {
  background-image:url("./images/recipe-app-landing2.jpg");  
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: 'relative',
}

/* Log In & Sign Up form  */
.login-form {
  width: 40%;
  margin: 4rem auto;
}


/* Recipe form */
#form .container-fluid {
  padding-top: 5rem;
}

#form .col-lg-6 {
  padding-top: 1rem;
}

h2.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
}

#form img {
  width: 450px;
  height: 400px;
  padding-top: 3rem;
}


/* List of recipes  */
#list .container-fluid {
  padding-top: 5rem;
}
 
@media (max-width: 576px) {
  #form img {
    width: 300px;
    height: 300px;
  }
}
